
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(/assets/background_wood.avif);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 3vh;
}

.card_header {
    width: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
}

.card_header h1 {
    font-size: 30pt;
}

.content_game{
    width: 100%;
    height: 60%;
    display: flex;
    gap: 2%;
    padding: 2%;
    box-sizing: border-box;
}
.card_body{
    width: 80%;
    height: 100%;
    display: flex;
    position: relative;
    background: url(/assets/battle_Ocean.jpg);
    background-repeat: repeat;
    background-size: 110% 100%;
}

.card_battle {
    width: 100%;
    height: 100%;
    border-radius: 2%;
    display: grid;  
    grid-template-columns: repeat(var(--board-columns), 1fr);
    grid-template-rows: repeat(var(--board-rows), 1fr);
    border-color: var(--color);
    box-sizing: border-box;
    z-index: 20;
}

.card_images {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(var(--board-columns), 1fr);
    grid-template-rows: repeat(var(--board-rows), 1fr);  
}

.image_ship {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.img_ship{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-style: solid;
    border-color: blue;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.card_users{
    width: 20%;
}

.card_footer {
    padding-bottom: 5vh;
}




.elements h2 {
    font-size: 30pt;
}


