.cell{
    width: 100%;
    height: 100%;
    border-radius: 20%;
    border-style: none;
}
.cell:hover{
    background-color: rgba(240, 248, 255, 0.541);
}

.center:active{
    border-color: rgb(255, 189, 6);
    border-style: solid;
}
.cell_select{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
.cell_select .center{
    width: 80%;
    height: 80%;
    border-radius: 20%;
    border-color: rgb(252, 0, 0);
    border-style: solid;
}

.cell_invalid.fire{
    background-image: url('/assets/fire.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% 120%;
    width: 80%;
    height: 80%;
    border-radius: 20%;
}

